<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <p>Email: webdev@lindir.kz</p>
    <p>Telegram: @evil_preacher</p>
  </div>
  <div class="col-md-6">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.0481101419396!2d76.8358293166443!3d43.22945095337159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388369d001ae59ed%3A0x5be5f3668a41830!2zMzIsINCQ0LvQvNCw0YLRiw!5e0!3m2!1sru!2skz!4v1527083586754" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=76.83285355567934%2C43.22613849588517%2C76.8413293361664%2C43.231657495308795&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/43.22890/76.83709&amp;layers=N">Посмотреть более крупную карту</a></small>
  </div>
</div>
